<a href="https://colab.research.google.com/github/robsworld718/food-sales-predictions/blob/main/food_sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
filename = '/content/drive/MyDrive/Coding Dojo/Project 1/sales_predictions.csv'

In [13]:
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [14]:
df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10          NaN  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [15]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [16]:
df.duplicated().any()

False

In [17]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [18]:
missing = df.isnull()
num_missing = missing.sum()
num_missing

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [19]:
(num_missing / len(df)) * 100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [20]:
#45% of our data is missing from 2 different collums
(num_missing / len(df)).sum()

0.4544174586413235

In [21]:
len(df)

8523

In [42]:
df['Item_Weight'].fillna(int(df['Item_Weight'].mean()), inplace=True)
df['Outlet_Size'].fillna(str(df['Outlet_Size'].mode()), inplace=True)
df.head(10), (num_missing/ len(df)).sum()

(  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
 0           FDA15        9.300  ...  Supermarket Type1          3735.1380
 1           DRC01        5.920  ...  Supermarket Type2           443.4228
 2           FDN15       17.500  ...  Supermarket Type1          2097.2700
 3           FDX07       19.200  ...      Grocery Store           732.3800
 4           NCD19        8.930  ...  Supermarket Type1           994.7052
 5           FDP36       10.395  ...  Supermarket Type2           556.6088
 6           FDO10       13.650  ...  Supermarket Type1           343.5528
 7           FDP10       12.000  ...  Supermarket Type3          4022.7636
 8           FDH17       16.200  ...  Supermarket Type1          1076.5986
 9           FDU28       19.200  ...  Supermarket Type1          4710.5350

 [10 rows x 12 columns], 0.4544174586413235)

In [44]:
#All missing values from Item_Weight have been reaplaced with the mean of the column
#All missing values from Outlet_Size have been replaced with the mode the only central measure of tendacy with a non interger was mode
df.head(10)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15        9.300  ...  Supermarket Type1          3735.1380
1           DRC01        5.920  ...  Supermarket Type2           443.4228
2           FDN15       17.500  ...  Supermarket Type1          2097.2700
3           FDX07       19.200  ...      Grocery Store           732.3800
4           NCD19        8.930  ...  Supermarket Type1           994.7052
5           FDP36       10.395  ...  Supermarket Type2           556.6088
6           FDO10       13.650  ...  Supermarket Type1           343.5528
7           FDP10       12.000  ...  Supermarket Type3          4022.7636
8           FDH17       16.200  ...  Supermarket Type1          1076.5986
9           FDU28       19.200  ...  Supermarket Type1          4710.5350

[10 rows x 12 columns]

In [52]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [45]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [57]:
df[['Item_Weight','Item_Visibility','Item_MRP','Item_Outlet_Sales']].head().describe()

       Item_Weight  Item_Visibility    Item_MRP  Item_Outlet_Sales
count     5.000000         5.000000    5.000000           5.000000
mean     12.170000         0.010417  135.130560        1600.583200
std       5.822946         0.009585   85.948398        1347.489064
min       5.920000         0.000000   48.269200         443.422800
25%       8.930000         0.000000   53.861400         732.380000
50%       9.300000         0.016047  141.618000         994.705200
75%      17.500000         0.016760  182.095000        2097.270000
max      19.200000         0.019278  249.809200        3735.138000